.movie_item:hover {
  transition: all ease 0.2s;
  transform: scale(1.1);
  cursor: pointer;
}

.movie_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-transparent-rgb));
  padding: 0 1rem;
  z-index: 1000;
}

.movie_modal_header {
  display: flex;
  align-items:  flex-end;
  justify-content: flex-end;
  padding: 1rem 0.5rem;
}

.movie_modal_header > svg {
  cursor: pointer;
}

.movie_modal_content {
  display: flex;
  gap: 0.75rem;
}

.movie_modal_content_details p {
  margin-top: 0.5rem;
  min-width: 300px;
}

.movie_modal_content_download {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}

.movie_modal_content_download > button {
  background-color: transparent;
  outline: none;
  border: 1px solid rgb(var(--foreground-rgb));
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.movie_modal_content_download > button:hover {
  cursor: pointer;
  filter: brightness(0.8);
  transform: scale(1.1);
}

.movie_modal_content_download > button > p {
  font-size: 8px;
}